<p id="notice"><%= notice %></p>

<h1>Listing Providers</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Title</th>
      <th>Suite/Office</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>Years of experience</th>
      <th>Category</th>
      <th>Specialty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.last_name %></td>
        <td><%= provider.first_name %></td>
        <td><%= provider.title %></td>
        <td><%= provider.address1 %></td>
        <td><%= provider.address2 %></td>
        <td><%= provider.city %></td>
        <td><%= provider.state %></td>
        <td><%= provider.postal_code %></td>
        <td><%= provider.country %></td>
        <td><%= provider.years_of_experience %></td>
        <td><%= provider.category %></td>
        <td><%= provider.specialty %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
